##### THIS FILE IS BEING CURRENTLY MANAGED BY URXVTCONFIG #####
##### CHANGES DONE TO THIS FILE MANUALLY MAY AFFECT THE FUNCTIONALITY ######
##### PROCEED WITH CAUTION! #####

Urxvt.bidi.enabled: 1

! special colors
*.foreground:  #F8F8F2
*.background:  #282A36
*.cursorColor:  r Color
! black
*.color0:      #000000
*.color8:      #4D4D4D
! red
*.color1:      #FF5555
*.color9:      #FF6E67
! green
*.color2:      #50FA7B
*.color10:     #5AF78E
! yellow
*.color3:      #F1FA8C
*.color11:     #F4F99D
! blue
*.color4:      #BD93F9
*.color12:     #CAA9FA
! magenta
*.color5:      #FF79C6
*.color13:     #FF92D0
! cyan
*.color6:      #8BE9FD
*.color14:     #9AEDFE
! white
*.color7:      #BFBFBF
*.color15:     #E6E6E6

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt.font: xft:SourceCodePro+Powerline+Awesome:pixelsize=12
URxvt.letterSpace: 0

*antialias: true
*autohint: medium

URxvt.perl-ext-common: default,clipboard,matcher
URxvt.url-launcher: qutebrowser

URxvt.matcher.button: 1

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.C-M-c: perl:clipboard:copy
URxvt.keysym.C-M-v: perl:clipboard:paste
